<!DOCTYPE html>
<html>
<head>
  <title>BcmsSspree</title>
  <%= stylesheet_link_tag    "bcms_spree/application", media: "all" %>
  <%= javascript_include_tag "bcms_spree/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
